body {
  background-color:darkgrey;
  color:black;
  font-family: 'Rasa', serif;
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: Martel;
  text-decoration: underline dotted grey; 
  font-weight: bold;
}

span {
  font-family: Lucida Sans;
  font-size: 20px;
}

form {
  font-family: Karla;
}
